body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

th {
  @apply(--paper-font-body1);
  color: var(--secondary-text-color);
  text-align: left;
  border-bottom: 1px solid;
  border-bottom-color: #e5e5e5;
}

tbody tr:hover {
  background: #fafafa;
}

/*
 * SVG Plot styles
 *
 * These seem to be ignored for some reason when we try to style svg created
 * by d3 within a custom element. We've placed them here for now, until we can
 * understand and fix the problem with polymer/d3.
 */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke-width: 1.5px;
}
