body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

th {
  @apply(--paper-font-body1);
  color: var(--secondary-text-color);
  text-align: left;
  border-bottom: 1px solid;
  border-bottom-color: #e5e5e5;
}

tbody tr:hover {
  background: #fafafa;
}
