body {
  margin: 0px;
  font-family: sans-serif;
}

table {
  font-size: 10pt;
}

.gwt-Label-padded { padding-left: 5px; }

.gwt-Label-status { color: #888888; width: 60px; }
.gwt-Label-red { color: #AA0000; }
.gwt-Label-green { color: #00AA00; }

.gwt-TabBar { background-color: #DDDDDD; }
.gwt-TabBarFirst { width: 0px; }
.gwt-TabBarItem { padding: 10px 20px 10px 20px; }
.gwt-TabBarItem-selected { background-color: #AAAAAA; }

.gwt-TabPanelBottom { padding: 10px 15px 10px 15px; }

.gwt-Tree .gwt-TreeItem-selected { background-color: #ccccff; }
.new-item { color: #999999; }

.breadcrumbs { padding: 10px; background-color: #E4E4E4; font-weight: bold; }
.breadcrumbs .gwt-Hyperlink { padding-right: 6px; }
.breadcrumbs .gwt-Label { padding-right: 6px; }

.full-page { width: 100%; }
.no-border { border: none; }
.page-menu { background-color: #CCCCCC; width: 100%; padding: 12px; }
.page-menu div { display: inline; padding: 12px; }
.page-menu .selected { background-color: #AAAAAA; }
.page-menu a { text-decoration: none; }

.unselected-textbox { border: 0px; color: #999999; }
.centered-cell { text-align: center; }
.padded-cell { padding-right: 15px; padding-left: 15px; }
.server-group { padding-right: 5px; padding-left: 5px; font-weight: bold; }
.server-name { padding-right: 5px; padding-left: 5px; }
.odd-row { background-color: #E4E4E4; }
.version-conflict { background-color: #ffff55; }

.highlight { background-color: #ccccff; }
